<flynt-component name="BlockImage" {{- not noComponentSpacing ? ' class="componentSpacing"' }} {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container">
    <figure class="figure" data-size="{{ options.size }}" data-align="center">
      {% if image.post_mime_type == 'image/svg+xml'%}
        <img class="figure-image-svg lazyload"
          src="{{ placeholderImage(768, (768 / image.aspect)|round, 'rgba(125, 125, 125, 0.1)') }}"
          width="{{ 768 }}"
          height="{{ (768 / image.aspect)|round }}"
          data-src="{{ image.src }}"
          alt="{{ image.alt|e }}"
        >
      {% else %}
        <img class="figure-image lazyload"
            src="{{ image.src }}"
            width="{{ 768 }}"
            height="{{ (768 / image.aspect)|round }}"
            alt="{{ image.alt|e }}">
      {% endif %}
      {% if image.caption %}
        <figcaption class="caption">{{ image.caption|e }}</figcaption>
      {% endif %}
    </figure>
  </div>
</flynt-component>
