<flynt-component name="BlockLog" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<div class="container">

		<div class="wrapper">
			<div class="content" data-size="{{ options.size }}" data-align="{{ options.align }}" data-text-align="{{ options.textAlign }}">
				{{ contentHtml|e('wp_kses_post') }}
			</div>

			<a class="item-card" href={{permalink}} data-date={{date}}>

				{{image}}

				<div class="item-card__content">

					<div class="item-card__wrapper">

						<div class="item-card__title">
							{{title}}
						</div>
					</div>

					<span class="item-card__button btn btn--tertiary"></span>
				</div>

			</a>

		</div>
	</div>
</flynt-component>
