<flynt-component name="BlockLog" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<div class="container">

		<div class="wrapper">
			<div class="content" data-size="{{ options.size }}" data-align="{{ options.align }}" data-text-align="{{ options.textAlign }}">
				{{ contentHtml|e('wp_kses_post') }}
			</div>

			<div class="grid">
				{% for post in log %}
					<a class="item-card" href={{post.permalink}} data-date={{post.date}}>

						{{post.image}}

						<div class="item-card__content">

							<div class="item-card__wrapper">
								<div class="item-card__date">
									{{post.date}}
								</div>

								<div class="item-card__title">
									{{post.title}}
								</div>
							</div>

							<span class="item-card__button btn btn--tertiary"></span>
						</div>

					</a>
				{% endfor %}
			</div>


		</div>
	</div>
</flynt-component>
