<flynt-component name="BlockImageText" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<div class="container" {{ imagePosition ? 'data-image-position="' ~ imagePosition ~ '"' }}>

		{% if imageHeight %}
			{% set height = ' ' ~ imageHeight %}
		{% else %}
			{% set height = '' %}
		{% endif %}

		{% if image %}
			<img src="{{ image }}" alt="{{ image.alt }}" class="BlockImageText__image{{ height }}">
		{% endif %}

		<div data-size="medium" data-align="center">
			{{ contentHtml|e('wp_kses_post') }}
		</div>
	</div>
</flynt-component>
